<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grading System</title>
</head>
<body>
<h1>Students Grading System</h1>
<form th:action="@{/login}" method="post">
    Enter your credentials:
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Login">
</form>
<p th:if="${param.error}" font color="red">
    Invalid credentials. Please try again.
</p>
</body>
</html>